#login-container {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vw;
  border: 2px solid red;
  z-index: 1;
  background-color: rebeccapurple;
  visibility: hidden;
}

#login-container:hover {
  visibility: hidden;
}

#mood-room-container {
  position: absolute;
  width: 100vw;
  height: 100vw;
  border: 2px solid blue;
  background-color: rgb(193, 109, 196);
}
