<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>My Awesome App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" <base href="/">

  <link rel="stylesheet" href="/style.css" />
  
</head>

<body>
  {{!-- <iframe src="https://giphy.com/embed/Kx82Lvb7wcYNO" style="z-index: 999" width="50%" frameBorder=" 0"
    class="giphy-embed" allowFullScreen></iframe> --}}

  {{{body}}}
  <script src="app.js"></script>
  {{!-- <script src="https://sdk.scdn.co/spotify-player.js"></script> --}}

</body>

</html>