<div id="mood-room-container">
  <a id="spotify-click">
    <div id="spotify-container">
    </div>
  </a>

  <textarea id="desktop-text-area" placeholder="type-about-mood...">
      </textarea>

  <div id="mood-room-desktop"></div>
  <!-- spotify api stuff
      pictures on the wall
      maybe a box to type in and mood journal
      way to select moods or colors or other properties
    -->
  <div id="mood-background"></div>
</div>