<div id="mood-room-container">

    <div id="spotify-container">
      <iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3"  frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>


    </div>
 

  <textarea id="desktop-text-area" placeholder="type-about-mood...">
      </textarea>

  <img id="mood-room-desktop" src="https://github.com/ZenMasterOwl/envtest/blob/master/mood_room_desktop_corner.png?raw=true"></img>
  <div id="mood-background"></div>
</div>