    <div id="spotify-container">
      <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DWXRqgorJj26U" id="spotify-player"  frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>


    </div>
<div id="mood-input-container">
<form action="">
  <label for="mood-input">Search for your Mood</label>
  <input type="text" id="mood-input" name="mood-input">
<button id="search-btn">Search</button> 
</form>
</div>




<div id="mood-room-container">

    <div id="controls">
      <img id="decrement-btn" src="/imgs/arrow_left.png"></img>
      <img id="apple-btn" src="/imgs/apple_logo.png"></img>
      <img id="increment-btn" src="/imgs/arrow_right.png"></img>
    </div>
 

  <textarea id="desktop-text-area" placeholder="type-about-mood...">
      </textarea>

  <img id="mood-room-desktop" src="https://github.com/ZenMasterOwl/envtest/blob/master/mood_room_desktop_corner.png?raw=true"></img>
  <div id="mood-background"></div>
</div>