<div id="spotify-container">
  <iframe src="https://open.spotify.com/embed/playlist/3JmX6opfNP61uoMaRBSJDC" id="spotify-player" frameborder="0"
    allowtransparency="true" allow="encrypted-media"></iframe>
</div>

<div id="mood-input-container">
  <form id="search-form" action="">
    <input type="text" id="mood-input" name="mood-input" placeholder="Search your Mood...">
    <button id="search-btn">Search</button>
  </form>
</div>

<div id="mood-room-container">
  <div id="controls">
    <img id="decrement-btn" src="/imgs/arrow_left.png"></img>
    <img id="apple-btn" src="/imgs/apple_logo.png"></img>
    <img id="increment-btn" src="/imgs/arrow_right.png"></img>
  </div>
  <h3 id="attribute-status"></h3>
  <textarea id="desktop-text-area" placeholder="There's no such thing as Too moody - That's why we created 2Moody. Search for playlists on spotify and use the buttons below to turn down the lights. With 2Moody, you set your own mood. Use this space to brainstorm ideas or type out your feelings, and don't worry about saying something you'll regret later. We promise not to store your data."></textarea>

  <img id="mood-room-desktop"
    src="https://github.com/ZenMasterOwl/envtest/blob/master/mood_room_desktop_corner.png?raw=true"></img>
  <div id="mood-background"></div>
</div>