<div class="input-container">
  <h1>2moody Login</h1>

  <div id="register-container">
    <form>
      <label for="" class="font-styles">Email</label><br />
      <input type="text" /><br />
      <label for="" class="font-styles">Password</label><br />
      <input type="text" /><br />

      <button id="sign-in-btn" class="input-btn">Sign in</button>
      <button id="register-btn" class="input-btn">Register</button>
    </form>
  </div>

</div>