<h2>Please login to access 2Moody</h2>

<div id="login-container">
  <form>

    <label for="">Email</label><br />
    <input type="text" /><br />
    <label for="">Password</label><br />
    <input type="text" /><br />

    <button id="sign-in-btn">Sign in</button>
    <button id="register-btn">Register</button>
  </form>
</div>