<div class="input-container">
  <h1>Registration</h1>
  <div id="login-container">
    <form action="">
      <label for="register-name" class="font-styles">What should we call you?</label><br />
      <input id="register-name" type="text" required /><br />
      <label for="register-email" class="font-styles">Email </label><br />
      <input id="register-email" type="text" required /><br />
      <label for="register-password" class="font-styles">Password</label><br />
      <input id="register-password" type="password" style="-webkit-text-security: square;" required /><br />

      <button id="sign-up-btn" type="submit" class="input-btn">Sign up</button>
      <button id="back-to-login-btn" class="input-btn">Back to login page</button>
    </form>
  </div>
</div>