<div class="input-container">
  <h1>Registration</h1>
  <div id="login-container">
    <form action="">
      <label for="" class="font-styles">What should we call you?</label><br />
      <input type="text" /><br />
      <label for="" class="font-styles">Email </label><br />
      <input type="text" /><br />
      <label for="" class="font-styles">Password</label><br />
      <input type="text" /><br />

      <button id="sign-up-btn" class="input-btn">Sign up</button>
      <button id="" class="input-btn">Back to login page</button>
    </form>
  </div>
</div>