<h2>Register</h2>

<div id="register-container" class="auth-views">
  <form action="">

    <label for="">What should we call you?</label><br />
    <input type="text" /><br />
    {{!-- <label for="">Last name</label><br />
    <input type="text" /><br /> --}}
    <label for="">Email </label><br />
    <input type="text" /><br />
    <label for="">Password</label><br />
    <input type="text" /><br />

    <button id="sign-up-btn">Sign up</button>
  </form>
</div>